/*
=============== 
Variables
===============
*/

:root {
    --clr-primary-5: #49a6e9;
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 0.45rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/* main css */

/* intro */
.intro-bg {
    display: none;
}

/* nav-bar */
.nav-bg {
    display: flex;
    justify-content: center;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: var(--max-width);
}

.links {
    display: flex;
    align-items: center;
}

.links a {
color: var(--clr-grey-1);
font-weight: bolder;
}

.links a:hover {
    color: var(--clr-grey-5);
}

.links li {
    padding-right: 0.5rem;
}

.links-container {
    display: grid;
}

.link-button {
margin: 0.3rem auto;
padding: 0.3rem 0.5rem;
background-color: var(--clr-primary-5);
border-color: var(--clr-primary-5);
color: var(--clr-grey-10);
border-radius: 0.25rem;
cursor: pointer;
}

.link-button:hover {
    background-color: var(--clr-grey-10);
    color: var(--clr-primary-5);
}

/* header */
header {
    min-height: 50vh;
    position: relative;
    display: grid;
    place-items: center;
}

.header-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.header-content {
    width: 90vw;
    display: flex;
}

.header-content article{
    padding: 0 1.5rem;
}
.text-content {
    color: var(--clr-grey-10);
}

.prev-btn, .next-btn {
    margin: auto auto;
    background-color: transparent;
    color: var(--clr-grey-10);
    border-radius: 50%;
    padding: 4px;
    border-color: var(--clr-grey-10);
    cursor: pointer;
}

.prev-btn:hover, .next-btn:hover {
    color: var(--clr-grey-1);
    padding: 6px;
}

/* body */
.section-one {
    display: grid;
    width: 80vw;
    margin: 0 auto;
    background-color: red;
}

.info-cards {
    display: flex;
}

.card {
    display: grid;
    place-items: center;
    gap: 0.5rem 0;
    background-color: var(--clr-grey-10);
    margin: 0 0.5rem;
    box-shadow: var(--dark-shadow);
    padding: 4px;
    cursor: pointer;
    text-align: center;
}

.card:hover {
    background-color: var(--clr-primary-5);
    color: var(--clr-grey-10);
}

.added-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: auto auto; */
    gap: 0 10px;
    margin: 2rem 0;
    background-color: green;
    padding: 0 0.5rem;
}

.images {
    position: relative;
    width: 150px;
    height: 150px;
}

.section-img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.section-img2 {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -7.5rem;
    right: -2.8rem;
}

.underline {
    height: 0.15rem;
    width: 5rem;
    background: #ADD8E6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    background-color: blue;
}

/* desktop intro */
@media screen and (min-width: 768px) {
    .intro-bg {
        background-color: var(--clr-primary-5);
        display: flex;
        justify-content: center;
    }

    .intro-center {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        max-width: var(--max-width);
    }

    .intro-info {
        padding-right: 0.5rem;
        color: var(--clr-grey-10);
    }

    .intro-info i {
        padding-right: 0.25rem;
    }

    .intro-icons i {
        padding-left: 0.5rem;
        color: var(--clr-grey-10);
        cursor: pointer;
    }

    .intro-icons i:hover{
        color: var(--clr-grey-5);
    }

    .links-container {
        display: flex;
    }

    .link-button {
        margin: 0.3rem 0;
    }

    .text-content {
        max-width: 750px;
    }

    .header-content article {
        padding-left: 0;
    }

    .section-one {
        width: 60vw;
    }
}