/*
=============== 
Variables
===============
*/

:root {
    --clr-primary-5: #49a6e9;
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/* main css */

/* intro */
.intro-bg {
    display: none;
}

/* nav-bar */
.nav-bg {
    display: flex;
    justify-content: center;
}

.nav-center {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: var(--max-width);
}

.links {
    display: flex;
    align-items: center;
}

.links a {
color: var(--clr-grey-1);
}

.links a:hover {
    color: var(--clr-grey-5);
}

.links li {
    padding-right: 0.5rem;
}

.links-container {
    display: flex;
}

.link-button {
margin: 0.3rem 0;
padding: 0 0.5rem;
background-color: var(--clr-primary-5);
border-color: var(--clr-primary-5);
color: var(--clr-grey-10);
border-radius: 0.25rem;
}

.link-button:hover {
    background-color: var(--clr-grey-10);
    color: var(--clr-primary-5);
}

/* header */


/* desktop intro */
@media screen and (min-width: 768px) {
    .intro-bg {
        background-color: var(--clr-primary-5);
        display: flex;
        justify-content: center;
    }

    .intro-center {
        display: flex;
        justify-content: space-between;
        width: 90vw;
        max-width: var(--max-width);
    }

    .intro-info {
        padding-right: 0.5rem;
        color: var(--clr-grey-10);
    }

    .intro-info i {
        padding-right: 0.25rem;
    }

    .intro-icons i {
        padding-left: 0.5rem;
        color: var(--clr-grey-10);
        cursor: pointer;
    }

    .intro-icons i:hover{
        color: var(--clr-grey-5);
    }
}